@import 'mixins.scss';

.topedits {
    .color-icon {
        margin-right: 3px;
    }
}

@media (max-width: $bootstrap-sm) {
    .basic-info-charts {
        display: none;
        margin-bottom: 0;
    }
}
